VITE_N8N_LIST_URL=https://<tu-n8n>/webhook/tasks
VITE_N8N_CREATE_URL=https://<tu-n8n>/webhook/createtasks
VITE_N8N_DETAIL_URL=https://<tu-n8n>/webhook/<id-flow-detail>/getidtasks/:id
VITE_N8N_UPDATE_URL=https://<tu-n8n>/webhook/<id-flow-update>/tasks/:id/update
VITE_N8N_DELETE_URL=https://<tu-n8n>/webhook/<id-flow-delete>/deletetasks/:id/delete
